
%nav
  %a{:href=>"/", :rel => "up"} Experiments
  &gt;
  %b
    All Groups

%h2 Results (#{@groups.length} groups, #{@samples.length} samples)

- @groups.each do |group|
  %ol
    - group[0].canvas.each do |c|
      %img{:src=>"#{c.png}"}
      %br
    - group.each do |sample|
      %li
        = sample.title
        -#%a{:href=>"#{link_to(:diff, @exp, result)}"} (diff)
        -#%a{:href=>"#{link_to(:result, @exp, result)}"}
        -#  = result.id.to_s + ": " + result.title
    -#  -#    -#+ ": " + result.useragent
  %hr

