%script{:type=>"text/javascript", :src=>"/experiments/canvas-text/render.js"}
:javascript
  $(document).ready(function() {
    var prime = #{ @result.to_json }["canvas"]
    var prime_pixels = JSON.parse( prime["pixels"] )
    var multipixels = [
      #{
        @results.map {|result|
          result.to_json + '["canvas"]';
        }.join(',\n')
      }
    ];
    var canvas = document.getElementById("scratch");
    var attachment_point = document.getElementById("diffs");
    var idgen = 0;

    for(var id in multipixels) {
      idgen += 1;

      var p = document.createElement("p");
      var ua = document.createElement("div");
      ua.innerHTML = multipixels[id]["useragent"];

      var c = document.createElement("canvas");
      c.setAttribute('width', canvas.width);
      c.setAttribute('height', canvas.height);
      c.setAttribute('id', idgen);

      p.appendChild(ua);
      p.appendChild(c);
      attachment_point.appendChild(p);

      var pixels = JSON.parse(multipixels[id]["pixels"]);
      renderdiff(idgen, prime_pixels, pixels);
    }
  });

#experiment
  %h1
    Experiment
    %a{:href=>"#{link_to(:exp, @exp)}"} #{@exp.name}
  %h2 Result #{@result.id}
  - if not @result.title.nil?
    %h3 Title: #{@result.title}

  #diffs

  #hide{:style=>"display:none;"}
    = render :haml, :canvas, :layout => false

