%script{:type=>"text/javascript", :src=>"/experiments/canvas-text/render.js"}
%script{:type=>"text/javascript", :src=>"/barrier.js"}
:javascript
  var b = new Barrier(doDiffs);

  // takes a image tag and returns a canvas, properly sized, with the image
  // inside it
  function imgToCanvas(img) {
    var c = document.createElement("canvas");
    c.width = img.width;
    c.height = img.height;
    var ctx = c.getContext('2d');
    ctx.drawImage(img, 0, 0);
    var imageData = ctx.getImageData(0,0, c.width, c.height);
    return {"canvas": c, "context": ctx, "imageData": imageData};
  }

  // too specialized. Shouldn't take obj here.
  function makeImageCallback(obj, barrier, tag) {
    return function() {
      obj.canvas = imgToCanvas(obj.image);
      barrier.notify(tag);
    };
  };

  var prime = #{ @result.to_json };
  prime.image = new Image();
  prime.image.src = prime["png"];
  prime.image.tag = b.register();
  prime.image.onload = makeImageCallback(prime, b, prime.image.tag);

  function doDiffs() {
    for(var i = 0; i < #{@groups.length}; i++) {
      var attachment_point = document.getElementById("attach-"+i);
      var canvasinfo = imgToCanvas(document.getElementById("orig-"+i));

      //if(canvasDiffer(prime.canvas, canvasinfo)) {
      //  var differ = document.createElement("div");
      //  differ.innerHTML = "Differ!";
      //  attachment_point.appendChild(differ);
      //}

      var diffs = diff(prime.canvas, canvasinfo);
      attachment_point.appendChild(diffs);
      attachment_point.appendChild(diffmap(prime.canvas, canvasinfo));
    }
  }


%nav
  %a{:href=>"/", :rel => "up"} Experiments
  &gt;
  %a{:href=>"#{link_to(:exp, @exp)}"} #{@exp.name}
  &gt;
  %a{:href=>"#{link_to(:results, @exp)}"} Results
  &gt;
  %b
    #{@result.id}

#experiment
  %h1
    Experiment
    %a{:href=>"#{link_to(:exp, @exp)}"} #{@exp.name}
  %h2 Result #{@result.id}
  - if not @result.title.nil?
    %h3 Title: #{@result.title}
  - if not @result.useragent.nil?
    %h3 Useragent: #{@result.useragent}

  #diffs
    - @groups.each_with_index do |group, i|
      %img{:src=>"#{group[0].png}", :id=>"orig-#{i}"}
      %div{:id=>"attach-#{i}", :style=>"float:right;"}
      %ol
        - group.each do |result|
          %li
            %a{:href=>"#{link_to(:diff, @exp, result)}"} (diff)
            %a{:href=>"#{link_to(:result, @exp, result)}"}
              = result.id.to_s + ": " + result.title

  #hide{:style=>"display:none;"}
    = render :haml, :canvas, :layout => false

