
%nav
  %a{:href=>"/", :rel => "up"} Experiments
  &gt;
  %b
    #{@exp.name}

#experiment
  %h1 Experiment #{@exp.name}

  %p#info
    %a{:href=>"#{link_to(:results, @exp)}"} See Results

  = render :haml, :canvas, :layout => false

  %form#submit{:action=>"#{@exp.name}/results", :method=>"post"}
    %p
      Title:
      %input#title{:name=>"title", :type=>"text"}
    %input#forminput{:name=>"pixels", :type=>"hidden"}
    %input#png{:name=>"png", :type=>"hidden"}
    %input{:type=>"submit", :value=>"Submit"}

  %p Pixels
  #pixels

