-@exp.scripts.each do |src|
  %script{:type=>"text/javascript", :src=>"#{src}"}

#experiment
  %h1 Experiment: #{@exp.name}

  %p
    %a{:href=>"#{link_to(:results, @exp)}"} See Results

  = render :haml, :canvas, :layout => false

  %form#submit{:action=>"#{@exp.name}/results", :method=>"post"}
    %p
      Title:
      %input#title{:name=>"title", :type=>"text"}
    %input#forminput{:name=>"pixels", :type=>"text"}
    %input{:type=>"submit", :value=>"Submit"}

  %p Pixels
  #pixels

