
%nav
  %a{:href=>"/", :rel => "up"} Experiments
  &gt;
  %a{:href=>"#{link_to(:exp, @exp)}"} #{@exp.name}
  &gt;
  %b
    Results

%h1
  Experiment
  %a{:href=>"#{link_to(:exp, @exp)}"} #{@exp.name}

%h2 Results

%ol
  - @results.each do |result|
    %li
      %a{:href=>"#{link_to(:diff, @exp, result)}"} (diff)
      %a{:href=>"#{link_to(:result, @exp, result)}"}
        = result.title + ": " + result.useragent


