
%nav
  %a{:href=>"/", :rel => "up"} Experiments
  &gt;
  %a{:href=>"#{link_to(:exp, @exp)}"} #{@exp.name}
  &gt;
  %b
    Groups

%h1
  Experiment
  %a{:href=>"#{link_to(:exp, @exp)}"} #{@exp.name}

%h2 Results (#{@groups.length} groups, #{@results.length} samples, entropy #{"%.3f"%@entropy})

- @groups.each do |group|
  %img{:src=>"#{group[0].png}"}
  %ol
    - group.each do |result|
      %li
        %a{:href=>"#{link_to(:diff, @exp, result)}"} (diff)
        %a{:href=>"#{link_to(:result, @exp, result)}"}
          = result.id.to_s + ": " + result.title
  %hr


