%script{:type=>"text/javascript", :src=>"/experiments/canvas-text/render.js"}
:javascript
  $(document).ready(function() {
    render("scratch", '#{@result.canvas_json.gsub("'", "\'")}');
  });

#experiment
  %h1 Experiment: "#{@exp.name}"
  %h2 Result #{@result.id}
  - if not @result.title.nil?
    %h3 Title: #{@result.title}
  %h3 User Agent: #{@result.useragent}

  = render :haml, :canvas, :layout => false

  %p Pixels:
  #pixels

