%script{:type=>"text/javascript", :src=>"/experiments/canvas-text/render.js"}
:javascript
  $(document).ready(function() {
    var prevent_xss = #{ @result.to_json };

    var img = new Image();
    img.src = prevent_xss["png"];
    img.onload = function() {
      var element = document.getElementById("attachment");
      element.appendChild(img);
    }

    document.getElementById("pixels").innerHTML = prevent_xss["png"];
  });

  function sendDelete() {
    var x = $.ajax( "#{ link_to(:result, @exp, @result) }", {
      "type": "DELETE",
      "success": function() { document.location = "#{ link_to(:results, @exp)}"; }
    });

  }

%nav
  %a{:href=>"/", :rel => "up"} Experiments
  &gt;
  %a{:href=>"#{link_to(:exp, @exp)}"} #{@exp.name}
  &gt;
  %a{:href=>"#{link_to(:results, @exp)}"} Results
  &gt;
  %b
    #{@result.id}

#experiment
  %h1
    Experiment
    %a{:href=>"#{link_to(:exp, @exp)}"} #{@exp.name}
  %h2 Result #{@result.id}
  - if not @result.title.nil?
    %h3 Title: #{@result.title}

  %h3 User ID: #{@result.userid}

  %h3 User Agent: #{@result.useragent}

  %p
    %a{:href=>"javascript:sendDelete()"} (delete)

  %p
    %a{:href=>"#{link_to(:diff, @exp, @result)}"} (diff)

  #attachment

  #userinput
    - if ! @result.userinput.nil?  and @result.userinput.length > 0
      %h3 User Input
      %pre
        = @result.userinput

  %p Pixels:
  #pixels

